[submodule "configs/zsh-conf/plugins/fast-syntax-highlighting"]
	path = configs/zsh-conf/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "configs/zsh-conf/plugins/zsh-autosuggestions"]
	path = configs/zsh-conf/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "configs/zsh-conf/plugins/fzf-tab"]
	path = configs/zsh-conf/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "configs/zsh-conf/plugins/zsh-completions"]
	path = configs/zsh-conf/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "configs/zsh-conf/plugins/zsh-fzf-history-search"]
	path = configs/zsh-conf/plugins/zsh-fzf-history-search
	url = https://github.com/joshskidmore/zsh-fzf-history-search.git
[submodule "configs/yazi"]
	path = configs/yazi
	url = https://github.com/sxyazi/yazi.git
[submodule "configs/tmux/plugins/tmux-battery"]
        path = configs/tmux/plugins/tmux-battery
        url = https://github.com/tmux-plugins/tmux-battery
[submodule "configs/tmux/plugins/tmux-plugins/tpm"]
        path = configs/tmux/plugins/tmux-plugins/tpm
        url = https://github.com/tmux-plugins/tpm
[submodule "configs/tmux/plugins/tmux-plugins/tmux-sensible"]
        path = configs/tmux/'tmux-plugins/tmux-sensible'
        url = https://github.com/'tmux-plugins/tmux-sensible'
[submodule "configs/tmux/plugins/christoomey/vim-tmux-navigator"]
        path = configs/tmux/plugins/christoomey/vim-tmux-navigator
        url = https://github.com/christoomey/vim-tmux-navigator
[submodule "configs/tmux/plugins/tmux-plugins/tmux-yank"]
        path = configs/tmux/plugins/tmux-plugins/tmux-yank
        url = https://github.com/tmux-plugins/tmux-yank
[submodule "configs/tmux/plugins/sainnhe/tmux-fzf"]
        path = configs/tmux/plugins/sainnhe/tmux-fzf
        url = https://github.com/sainnhe/tmux-fzf
[submodule "configs/tmux/plugins/tmux-plugins/tmux-resurrect"]
        path = configs/tmux/plugins/tmux-plugins/tmux-resurrect
        url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "configs/tmux/plugins/tmux-plugins/tmux-continuum"]
        path = configs/tmux/plugins/tmux-plugins/tmux-continuum
        url = https://github.com/tmux-plugins/tmux-continuum
[submodule "configs/suckless"]
        path = configs/suckless
        url = https://github.com/EduardoNeville/suckless
