configs/.config/nvim/pack/github/
configs/.config/github-copilot/
openAI_key.txt
configs/.config/spotify-tui/.spotify_token_cache.json
configs/.config/thefuck/__pycache__/
configs/.config/zsh/.zsh_history
configs/.config/nvim/plugin/packer_compiled.lua
configs/nvim/pack/github/
configs/github-copilot/
configs/zsh/.zsh_history
configs/nvim/plugin/packer_compiled.lua
configs/coc/extensions/node_modules
